<div class="row justify-content-center">
    <img class="col-4 img-fluid" src="/assets/images/404browser.svg" alt="error 404">
    <div class="row justify-content-center">
        <span class="m-2 col-4 badge rounded-pill bg-warning">Pagina no econtrada</span>
    </div>
    
</div>