<div class="saludo">
  <img src="/images_users/{{foto}}" alt="foto-usuario">
  <h1>Bienvenido: {{usuario}}</h1>
  <form action="/logout" method="post" >
    <input type="submit"  value="Logout">
   </form>
</div>

<section class="section-carrito" id="section-carrito"></section>


<section class="whatsapp animate__animated animate__backInDown">
    <img id="btn-open-chat" src="./assets/images/chat.png" alt="chat" />
</section>

<dialog id="dialogo-chat" class="dialogo dialogo-chat">
  <button class="dialogo__btn-cierra" id="btn-cierra-dialogo-chat">X</button>
  <div class="container">
    <div class="chat-websocket">
      <h1>Bienvenido</h1>
      <div class="websocket-compresion"  id="websocket-compresion"></div>
      <div class="websocket-actions" id="websocket-actions"></div>
      <div class="websocket-controls" id="websocket-controls">
        <input id="user" type="email" placeholder="Usuario" value="{{usuario}}" readonly/>
        <textarea name="message" id="message"cols="30" rows="10" placeholder="Mensaje"></textarea>
        <input id="sendMessage" type="button" value="Enviar"/>
      </div>
      <div class="websocket-messages" id="websocket-messages"></div>
    </div>
  </div>
</dialog>

<section class="section-productos" id="section-productos"></section>